<!DOCTYPE html>
<html lang="en">

<title>Solar PV Calculator</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"

<body>
    <div class="monthlyElec">
        <table class="monthlyElecTable">
            <tr>
                <th>Month</th>
                <th>Average Monthly kWh</th>
            </tr>
            {% for month in monthlyData %}
            <tr>
                <td>{{month.month}}</td>
                <td>{{month.kwhPerMonth}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="inputs">
        <form class="inputForms">
            Zip Code:<br>
            <input type="text" name="zip"><br>
            Your electric cost per kwh($):<br>
            <input type="text" name="costPerKwh"><br>
            System Capacity(kw):<br>
            <input type="text" name="sys_cap"><br>
            Tilt Angle(degress):<br>
            <input type="text" name="tilt"><br>
            Azimuth Angle(degrees):<br>
            <input type="text" name="azimuth"><br>
            Losses(%):<br>
            <input type="text" name="losses"><br>
        </form>
    

        <div class = "arrDropdown">
            <option value = "">Array Type</option>
            <select id="arrTypeDropdown" class = "arrDropdownContent">       
                {% for arr in arrType %}
                    <option value = {{arr.arr}}>{{ arr }}</option>
                {% endfor %}
                
            </select>
        </div>

        <div class = "modDropdown">
            <option value = "">Module Type</option>
            <select id = "modTypeDropdown" class = "modDropdownContent">
                {% for mod in modType %}
                    <option value = {{mod.mod}}>{{ mod }}</option>
                {% endfor %}
            </select>
        </div>

        <div class = "button">
            <button type = "button" class = "calcButton">Calculate</button>
        </div>
    </div>


    <script type=text/javascript src="{{
        url_for('static', filename='jquery.js') }}"></script>
</body>



</html>